*_cache
**__pycache__
env
*.env
.envrc
*.md
.gitignore
*.yml
*.yaml
*.ini
*.json
*.xml
*.bin
requirements-dev.txt
*egg-info
venv
node_modules
package.json
package-lock.json
aopcs_lambda/target
.vscode
Makefile
requirements-dev.txt
cdk.out
scripts
*.egg-info
tests
local_dev
